.signup{
    width:50%;
    margin-left: 200px;
    height: 50%;
    display:flex;
    background-color: lightblue;
    align-items: center;
    margin-top: 30px;
    margin:0 auto;
    justify-content: center;
    height: 60vh;
    
}