.header{
    top:2;
    width:80%;
    margin: 0 auto;
    margin-left:5;
    display:flex;
    align-items: center;
    min-height: 70px;
    background-color: black;
}

.links{
    display: flex;
    margin-left: 45em;
    
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.innerLink{
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 1em;
    
}

.innerLink a:hover{
   color: yellow;
}

